{% extends "base.html" %}

{% block head %}
<style>
    #textDiv{
        padding: 5%;
        box-shadow: 0px 0px 30px -15px slategray;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
    }
</style>
{% endblock %}


{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<br><br>
<div class="container text-center">
    <h1 style="font-weight: bold;">Account Details</h1>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div id="textDiv" class="container">
                <div class="container">
                    <h4><span style="font-weight: bold;">Customer Name : </span>{{ data['name'] }}</h4>
                    <h4><span style="font-weight: bold;">Customer ID : </span>{{ data['cid'] }}</h4>
                    <h4><span style="font-weight: bold;">Account ID : </span>{{ data['aid'] }}</h4>
                    <h4><span style="font-weight: bold;">Account Type : </span>{{ data['type'] }}</h4>
                    <h4><span style="font-weight: bold;">Balance : </span>{{ data['amount'] }}</h4>
                </div>
            </div>
            <br><br>
            <form action="/deposit/account/{{ data['aid'] }}/deposit" method="POST">
                <div class="container row">
                    <div class="col-lg-10">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="amount" id="text_input" placeholder="Enter Deposit Amount" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-lg-2 text-right">
                        <button type="submit" class="btn btn-primary">Deposit</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}