{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    // $(document).ready(function(){
    //     $("#refresh").click(function(){
    //         window.location.reload(false);
    //     });
    // });
</script>
{% endblock %}


{% block content %}
<br>
<h2 class="text-center">Transaction Details</h2>
<br>
<div class="container text-center" style="overflow: scroll;">
    {% if (datas|length) %}
    <div>
        <table class="table table-bordered">
            <thead style="background-color: rgba(0, 89, 255, 0.479);">
              <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Account ID</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{ data['tid'] }}</td>
                    <td>{{ data['aid'] }}</td>
                    <td>{{ data['desc'] }}</td>
                    <td>{{ data['timestamp'] }}</td>
                    <td>{{ data['amount'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h2>No Transactions available yet</h2>
    {% endif %}
</div>
<br><br><br>
<div class="container text-center" style="padding-left: 300px; padding-right: 300px;">
    <div class="container text-center row">
        <div class="col-6">
            <a href="/transaction/account/{{ datas[0]['aid'] }}/csv/download">
                <button class="btn btn-outline-primary">Download as EXCEL</button>
            </a>
        </div>
        <div class="col-6">
            <a href="/transaction/account/{{ datas[0]['aid'] }}/download">
                <button class="btn btn-outline-primary">Download as PDF</button>
            </a>
        </div>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}